@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    display: block !important;
  }
  body,
  .page {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    gap: 0 !important;
    margin: 0;
    background: none;
    box-shadow: none;
  }
}
